.table {
    display: flex;
    flex-direction: column;

    margin-bottom: 0;
    border-radius: 6px;

    font-size: 13px;
    background-color: #fff;
}

.thead{
    border-radius: 5px 5px 0 0;
    height: 40px;

    background-color: #6A0000;
}

.table .thead div{
    display: inline-block;
    width: 100px;
    height: 40px;

    padding: 8px 0 !important;

    word-wrap: break-word;
    text-align: center;
    color: white;
}

.tbody{

}

.table__row{

    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.table__row-cell{
    display: inline-block;
    width: 100px;

    text-align: center;
    padding: 8px 0 !important;
}

.table__row .table__row-cell:first-child img{
    margin-left: 5px;
}

.bottom-cell_wrap{
    display: flex;
}

.bottom-cell_wrap > div:nth-child(1){
    width: 200px;
}

.bottom-cell_wrap > div:nth-child(2){
    width: 100%;
}

.bottom-cell_wrap .thead__cell, .bottom-cell_wrap .table__row-cell{
    display: flex !important;
    justify-content: space-between;
    align-items: center;

    height: 40px;
    padding: 0 10px !important;
    border-bottom: 1px solid black;
}

.bottom-cell_wrap .table__row-cell{
    width: 100%;
}

.table-pagination{
    text-align: center;
}